#root {
 
 
  padding: 1.5rem;

}
.link-img-h2{
  display: inline-block;
}
h2{
    font-family: 'Montserrat', sans-serif; 
    font-size: 48px;
    font-weight: bold; 
   
  
    letter-spacing: 2px; 
}
.btn-grad {
  background-image: linear-gradient(to right, #485563 0%, #29323c  51%, #485563  100%);
  margin: 10px;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
img {
  width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;}

    .container {
      width: 50%;
      margin: 0 auto;
      text-align: center;
    }

    footer {
      text-align: center;
      font-size: medium;
      color: #999;
      margin-top: 20px;
    }
    
    footer a {
      color: #999;
      text-decoration: none;
    }
    
    footer a:hover {
      text-decoration: underline;
    }
 
      
      
      
      