@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #fff;
  background: url(https://media.licdn.com/dms/image/D4D16AQERC3CsGkuxlg/profile-displaybackgroundimage-shrink_350_1400/0/1679323988213?e=1726704000&v=beta&t=1t4AfctWOlBjY6z4TjpIPu4ISPz3ijqHyVKa2haRe-8);
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}